html,
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
   font-family: sans-serif;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: var(--fundodobody);
   background-position: center;
}
:root {
  --fundodobody: url('imag/Fundo.jpg');
  --fundodascards: rgba(0, 0, 5, 0.8);
  
}
.usuário {
   border-radius: 50%;
}
.story-container {
  padding: 30px;
}
.story-container ul{
  list-style: none;
  user-select: none;
  display: flex;
  overflow-y: auto;
  padding: 30px 0;
}
.story-container ul li {
  padding: 0 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.story-container ul li:first-child {
  padding-left: 20px;
}
.storyboard ul li:last-child {
  padding-right: 20px;
}
.story-container ul li .story {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  background: linear-gradient(60deg, rgba(16,25,37,1) 0%, rgba(0,0,1) 50%, rgba(16,25,37,1) 100%);
  padding: 1px;
  position: relative;
  border: 0px solid #576170;
}
.story-container ul li.has-style .story:hover {
  border: 1px solid #576170;
  height: 62px;
  width: 62px;
  content: 'Mido';
}
.story-container ul li .story img {
  padding: 2px;
  background: currentColor;
  border-radius: 20%;
  width: 100%;
  height: 100%;
}
.user{
  color: #fff;
  font-weight: 300px;
  font-size: x-small;
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}


header{
  width: 100%;
  height: 100vh;
  background-position: center;
}
 a {
   text-decoration: none;
 }
 header .menu {
   position: fixed;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1px;
   
 }
 header .menu li {
   display: inline-block;
 }
 header .menu a {
   color: #fff;
   padding: 7px 11px;
   border-radius: 3px;
   transition: 200ms;
 }
 header .menu header .menu a:hover {
   background: #fff;
   color: #444;
 }
 .principal {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 .principal h2 {
   color: #fff;
   font-size: 25px;
   
   
 }
 .principal a {
   color: #fff;
   
 }
 header .menu .logo {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
 }
 header .menu .logo2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0;
 }
 input {
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #000; 
    color: #fff;
 }
 input[type="file"] {
    display: none;
 }
 button {
    border: none;
    background: none;
    outline: none;
    color: #fff;
 }
:root {
   --cor: 
}
#Mido {
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  #Mido {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #Mido {
    width: auto;
    height: 100%;
  }
}
.mas {
    margin-left: 70px;
    border-radius: 20px;
    display: inline-block;
    
}
.mas img {
   border-radius: 4px;
}
.mas span {
   text-align: center;
   color: #fff;
   font-size: x-small;
   text-transform: uppercase;
   font-weight: 300;
   max-width: 82px;
}
.play {
   margin-left: 60px;
   border-radius: 20px;
   display: flex;
}
.play .mobile li {
   list-style: none;
}
.mobile li {
   text-align: center;
   font-size: 14px;
   color: #fff;
   font-family: sans-serif;
   font-size: x-small;
   width: 100px;
   background: rgba(245, 245, 245, 0.1);
   padding: 4px; 
   border-radius: 20px;
}
.play .mobile li a {
   color: #fff;
   font-weight: bold;
}
.Circle{
  border-radius: 50%;
  background: rgba(245, 245, 245, 0.1);
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: sans-serif;
  width: 25px;
  padding: 3px;
  height: 25px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}
 li {
   list-style: none;
}
video {
  pointer-events: none;
}
.storyboard ul{
  list-style: none;
  user-select: none;
  display: flex;
  overflow-y: auto;
  padding: 20px 0;
}
.storyboard ul li {
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.storyboard ul li:first-child {
  padding-left: 20px;
}
.storyboard ul li:last-child {
  padding-right: 20px;
}
.storyboard ul li .style {
  height: 65px;
  width: 65px;
  border-radius: 8%;
  padding: 4px;
  position: relative;
}
.storyboard ul li.has-story .style {
  padding: 1px;
  
}
.storyboard ul li .style video {
  padding: 1px;
  border-radius: 8%;
  width: 100%;
  height: 100%;
}
.storyboard ul li span{
  color: #fff;
  font-weight: 300px;
  font-size: x-small;
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}
#img {
  display: none;
  
}
#voltar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(245, 245, 245, 0.1);

  }
  #Pastrana {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,5,0.8);
    transform: translate(-50%, -50%);
    padding: 68px 28px;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
  }
  #próximo {
    border: none;
    outline: none;
    background: #fff;
    border-radius: 20px;
    width: 50px;
    color: #000;
    padding: 4px;
    margin-bottom: 20px;
    margin: 20px;
  }
  .logo7 {
    position: absolute;
    top: 0%;
    left: 2px;
    
  }
  